apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: home-assistant
  labels:
    app: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      # --- Init Container for HACS Installation ---
      initContainers:
        - name: install-hacs
          image: alpine:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              if [ ! -d "/config/custom_components/hacs" ]; then
                echo "HACS not found. Installing..."
                # Install dependencies required by the HACS install script
                apk add --no-cache bash wget unzip
                # Run the HACS download script
                wget -O - https://get.hacs.xyz | bash -
              else
                echo "HACS already installed. Skipping."
              fi
          volumeMounts:
            - mountPath: /config
              name: config
      containers:
        - name: home-assistant
          image: ghcr.io/home-assistant/home-assistant:stable
          ports:
            - containerPort: 8123
              name: http
              protocol: TCP
          env:
            - name: TZ
              value: "America/Los_Angeles"
          livenessProbe: # Restart if HA hangs
            httpGet:
              path: /
              port: 8123
            initialDelaySeconds: 120
            periodSeconds: 60
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: 4Gi
              cpu: 1000m
          volumeMounts:
            - mountPath: /config
              name: config
            - name: home-assistant-config-volume
              mountPath: /config/configuration.yaml
              subPath: configuration.yaml
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: ha-config
        - name: home-assistant-config-volume
          configMap:
            name: home-assistant-config
