apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 80
        expose:
          default: true
        exposedPort: 80
      websecure:
        port: 443
        expose:
          default: true
        exposedPort: 443
      minecraft:
        port: 25565
        expose:
          default: true
        exposedPort: 25565
        protocol: TCP
      home-assistant:
        port: 8123
        expose:
          default: true
        exposedPort: 8123
        protocol: TCP
