grafana:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.lan
    path: /
  initChownData:
    enabled: false
  podSecurityContext:
    fsGroup: 472
    runAsGroup: 472
    runAsUser: 472
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
  networkPolicy:
    enabled: true
    ingress: true
    allowExternal: true
    egress:
      enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi
  sidecar:
    dashboards:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
        limits:
          cpu: 20m
          memory: 100Mi
    datasources:
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
        limits:
          cpu: 20m
          memory: 100Mi
  downloadDashboards:
    resources:
      requests:
        cpu: 10m
        memory: 50Mi
      limits:
        cpu: 20m
        memory: 100Mi
  persistence:
    enabled: true
    size: 20Gi
    accessModes:
      - ReadWriteOnce
    storageClassName: "local-path"
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: "default"
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
