serviceMonitor:
  enabled: true
trivy:
  ignoreUnfixed: true
  podLabels:
    app: trivy
  resources:
    requests:
      cpu: 250m
      memory: 256M
    limits:
      cpu: 1000m
      memory: 1Gi
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi
operator:
  scanJobTimeout: "10m"
