[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
stdout_callback = default
bin_ansible_callbacks = True

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
